<section class="about-brand-section">
	<div class="about-brand__img-block">
		<img class="img-responsive" src="./img/cosmetics2.png" alt="Boltaeva">
	</div>

	<div class="about-brand__description">
		<h2 class="about-brand__title"> Boltaeva </h2>

		<p class="about-brand__big-text">
			Each Boltaeva brand product is truly unique - everything is thought out to the smallest detail.
		</p>

		<p class="about-brand__small-text">
			The brand seeks to build respect among the audience for its products, so that the presence of 
			the company's products is a sign of prestige, since the focus of the business is focused on 
			exclusive sales, but not on the mass market.
		</p>	
	</div>
</section>