<div class="category-top-menu mobile-hidden">
	<ul class="category-top-menu__list">
		<li class="category-top-menu__item">
			<a class="category-top-menu__link" href="#">Care cosmetics</a>
		</li>

		<li class="category-top-menu__item">
			<a class="category-top-menu__link" href="#">Decorative cosmetics</a>
		</li>

		<li class="category-top-menu__item">
			<a class="category-top-menu__link" href="#">Eyebrow cosmetics</a>
		</li>

		<li class="category-top-menu__item">
			<a class="category-top-menu__link" href="#">Accessories</a>
		</li>
	</ul>
</div>