<section class="category-products-section">
	<div class="category-products__top-row mobile-hidden">
		<ul class="category-products__top-row-list">
			<li class="product-card">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item2.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item3.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<div class="category-products__row">
		<ul class="category-products__list">
			
			<li class="product-card category-products__list-big-card mobile-hidden">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/bigCard.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							990
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card category-products__list-card1">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item2.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card category-products__list-card2">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item3.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card category-products__list-card3">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item3.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card category-products__list-card4">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<div class="category-products__row row-reverse">
		<ul class="category-products__list">
			<li class="product-card category-products__list-card1">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item2.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card category-products__list-card2">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item3.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card category-products__list-card3">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item3.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card category-products__list-card4">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/perfect-brows-item.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="product-card category-products__list-big-card mobile-hidden">
				<a href="./product-card.html">
					<img class="img-responsive" src="./img/bigCard.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							990
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>