<section class="popular-products">
	<div class="popular-products-row">
		<div class="popular-products__category">
			<a class="popular-products__category-link" href="#">
				<img class="img-responsive" src="./img/care-category.png" alt="care">
			<h3 class="popular-products__category-title"> Care </h3>
			</a>
		</div>

		<ul class="popular-products__list">
			<li class="popular-products__item">
				<a href="#">
					<img class="img-responsive" src="./img/perfect-brows-item.png" alt="product-img">

					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="popular-products__item">
				<a href="#">
					<img class="img-responsive" src="./img/perfect-brows-item2.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="popular-products__item">
				<a href="#">
					<img class="img-responsive" src="./img/perfect-brows-item3.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<div class="popular-products-row popular-products_row-reverse">

		<ul class="popular-products__list">
			<li class="popular-products__item">
				<a href="#">
					<img class="img-responsive" src="./img/perfect-brows-item.png" alt="product-img">

					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="popular-products__item">
				<a href="#">
					<img class="img-responsive" src="./img/perfect-brows-item2.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="popular-products__item">
				<a href="#">
					<img class="img-responsive" src="./img/perfect-brows-item3.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>
		</ul>

		<div class="popular-products__category">
			<a class="popular-products__category-link" href="#">
				<img class="img-responsive" src="./img/beauty-category.png" alt="beauty">
			<h3 class="popular-products__category-title"> Beauty </h3>
			</a>
		</div>
	</div>

	<div class="popular-products-row">
		<div class="popular-products__category">
			<a class="popular-products__category-link" href="#">
				<img class="img-responsive" src="./img/brows-category.png" alt="brows">
			<h3 class="popular-products__category-title"> Brows </h3>
			</a>
		</div>

		<ul class="popular-products__list">
			<li class="popular-products__item">
				<a href="#">
					<img class="img-responsive" src="./img/perfect-brows-item.png" alt="product-img">

					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="popular-products__item">
				<a href="#">
					<img class="img-responsive" src="./img/perfect-brows-item2.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>

			<li class="popular-products__item">
				<a href="#">
					<img class="img-responsive" src="./img/perfect-brows-item3.png" alt="product-img">
					
					<div class="popular-products__description">
						<h4 class="popular-products__title">Perfect brows</h4>
						<span class="popular-products__price">
							54
							<span class="popular-products__price-icon">&euro;</span>
						</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>