<section class="image-gallery-section">
	<ul class="image-gallery__list">
		<li class="image-gallery__item">
			<a href="#">
				<img class="img-responsive" src="./img/image-gallery-img1.png" alt="photo">
			</a>
		</li>
		<li class="image-gallery__item">
			<a href="#">
				<img class="img-responsive" src="./img/image-gallery-img2.png" alt="photo">
			</a>
		</li>
		<li class="image-gallery__item">
			<a href="#">
				<img class="img-responsive" src="./img/image-gallery-img1.png" alt="photo">
			</a>
		</li>
		<li class="image-gallery__item">
			<a href="#">
				<img class="img-responsive" src="./img/image-gallery-img2.png" alt="photo">
			</a>
		</li>
		<li class="image-gallery__item">
			<a href="#">
				<img class="img-responsive" src="./img/image-gallery-img3.png" alt="photo">
			</a>
		</li>
		<li class="image-gallery__item">
			<a href="#">
				<img class="img-responsive" src="./img/image-gallery-img4.png" alt="photo">
			</a>
		</li>
		<li class="image-gallery__item">
			<a href="#">
				<img class="img-responsive" src="./img/image-gallery-img3.png" alt="photo">
			</a>
		</li>
		<li class="image-gallery__item">
			<a href="#">
				<img class="img-responsive" src="./img/image-gallery-img4.png" alt="photo">
			</a>
		</li>
	</ul>
</section>