.page-title {
	font-size: 3em;
	text-align: center;
	font-weight: 400;
	margin-top: 70px;
	margin-bottom: 40px;
}

.page-img-section {
	display: flex;
	justify-content: center;
	max-width: var(--sectionWidth);
	margin: 0 auto;
	margin-bottom: 70px;
	padding: 0 20px;
}

@media (max-width: 767px) {
	.page-img-section {
		padding: 0 15px;
	}
}