.category-top-menu {
	background-color: var(--productItemBgc);
	display: flex;
	justify-content: center;
}

.category-top-menu__list {
	display: flex;
	gap: 60px;
}

.category-top-menu__link,
.category-top-menu__item {
	padding: 15px 5px;
}

.category-top-menu__link {
	color: rgba(85, 85, 85, .4);
	transition: all .3;
}

.category-top-menu__link:hover {
	color: rgba(85, 85, 85, 1);
}