.product-card-main-content {
	display: grid;
	gap: 70px;
	margin-bottom: 115px;
}

.product-info-section {
	display: flex;
	max-width: var(--sectionWidth);
	margin: 0 auto;
}

.product-info-section__gallery {
	width: 50%;
	background-color: var(--productItemBgc);
}

.product-info-section__gallery {
	position: relative;
	overflow: hidden;
}

.product-gallery__thumbs {
	position: absolute;
	left: 35px;
	top: 50%;
	transform: translate(0,-50%);
	z-index: 1;
}

.gallery-thumbs-wrapper {
	flex-direction: column;
	gap: 10px;
}

.gallery-thumbs-wrapper .gallery-thumbs__slide {
	width: 80px;
	height: 90px;
	border: 1px solid rgba(0, 0, 0, .1);
}

.product-info__quantity-block,
.product-info__price-block,
.product-info-block {
	display: flex;
}

.product-info-block {
	width: 50%;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	padding: 0 11%;
}

.product-info__title {
	font-weight: 400;
	font-size: 48px;
	line-height: 1.1;	
	letter-spacing: -0.03em;
}


.product-info__quantity-block,
.product-info__btn {
	background-color: var(--productItemBgc);
}

.product-info__price-block {
	justify-content: space-between;
	width: 100%;
}

.product-info__quantity-block {
	width: 165px;
	border-radius: 66px;
	justify-content: space-between;
	line-height: 2.9;
}

.product-info__quantity-btn {
	width: 50px;
	text-align: center;
}

.product-info__price {
	font-size: 32px;
	line-height: 1.2;
	letter-spacing: -0.02em;
}

.product-info__btn {
	border-radius: 76px;
	line-height: 6;
	width: 100%;
	text-align: center;
}

.product-info__btn svg {
	margin-right: 12px;
}

.product-info {
	text-align: left;
}

.product-info__nav {
	margin: 25px 0 20px 0;
}

.product-info__nav-btn {
	padding: 0 17px;
	line-height: 2;
	border-radius: 56px;
	margin-right: 15px;
	opacity: .6;
}

.product-info__nav-btn_active {
	background-color: var(--productItemBgc);
	opacity: 1;
}

.product-info__content-text {
	display: none;
	font-weight: 400;
	font-size: .9em;
	line-height: 1.7;
	letter-spacing: -0.02em;
}

.product-info__content-text_active {
	display: block;
}

@media (max-width: 767px) {
	.product-card-main-content {
		gap: 90px;
		margin-bottom: 90px;
	}

	.product-info-section {
		flex-direction: column;
		width: 100vw;
	}

	.product-info-section__gallery,
	.product-info-block {
		width: 100%;
	}

	.product-gallery__thumbs {
		left: 5%;
		top: auto;
		bottom: -35px;
		transform: translate(0,-50%);
	}

	.gallery-thumbs-wrapper {
		flex-direction: row;
	}

	.product-info-block {
		justify-content: flex-start;
		padding: 0 15px;
		margin-top: 50px;
	}

	.product-info__title {
		font-size: 2.1em;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.product-info-section {
		width: 100vw;
		padding: 0 20px;
	}

	.product-info-block {
		padding: 0 5%;
	}

	.product-info__title {
		font-size: 2.2em;
	}

	.product-info__btn {
		line-height: 4.5;
	}

	.product-info__nav-btn {
		margin-right: 3px;
	}
}

@media (min-width: 1024px) and (max-width: 1440px) {
	.product-info-section {
		width: 100vw;
		padding: 0 20px;
	}
}
